.container {
    display: flex;
    background-color: red;
    width: 960px;
    height: 960px;
    flex-wrap: wrap;
    margin: auto;
    
}

.container div {
    background-color: blue;
    border: solid;
    box-sizing: border-box;

}